<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Site Template - {{#site}}{{title}}{{/site}}: {{title}}</title>
  <base href="http://{{#site}}{{host}}{{/site}}/blueink/_design/blueink/_rewrite/" />
  <link rel="stylesheet" type="text/css" href="_blueink/static/{{template}}/style/reset-fonts-grids.css" />
  <link rel="stylesheet" type="text/css" href="_blueink/static/{{template}}/style/base-min.css" />
  <link rel="stylesheet" type="text/css" href="_blueink/static/{{template}}/style/main.css" />
</head>
<body>
<div id="doc" class="yui-t7">
  <div id="hd">
    <h1>Site Template - {{title}}</h1>
    <ul>
    {{#sitemap}}
      {{#body}}
      <li><a href="{{url}}">{{nav_label}}</a>
      {{/body}}
      {{>nav}}
      {{#body}}
      </li>
      {{/body}}
    {{/sitemap}}
    </ul>
  </div>
  <div id="bd">
    <div class="yui-gc">
    {{#items}}
    <div class="yui-u{{#classes}} {{.}}{{/classes}}">
      {{#area}}
        {{#posts}}
        <div class="posts">
          <div class="item post">{{{item}}}</div>
          <div class="pubdate">{{published_date}}</div>
        </div>
        {{/posts}}
        {{^posts}}<div class="item">{{{item}}}</div>{{/posts}}
      {{/area}}
    </div>
    {{/items}}
  </div>
  <div id="ft">
    <div class="copyright">&#169; {{copyright}}</div>
    <div class="credits">written in <a href="http://www.blueinkcms.com/" class="bigbluehat"><strong>blue</strong>ink</a></div>
  </div>
</div>
{{#user}}
<ui-blueink></ui-blueink>
<script src="_blueink/bundle.js"></script>
{{/user}}
</body>
</html>
