<div class="field" data-json="kvp"
  v-if="type != 'object'">
  <label v-if="!title" for="{{$key}}">{{$key}}</label>
  <label v-if="title" for="{{$key}}">{{title}}</label>
  <input name="{{$key}}" type="{{type | input_type}}" v-attr="value: getValue()" />
  <p class="ui message"
    v-if="description"><small>{{description}}</small></p>
</div>
<fieldset data-json="object" class="ui fields" v-if="type == 'object' && $key != '$ref'">
  <legend v-if="!title" data-key="{{$key}}">{{$key}}</legend>
  <legend v-if="title" data-key="{{$key}}">{{title}}</legend>
  <div v-component="json-schema-property" v-repeat="properties"></div>
</fieldset>
