<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <title>{{#site}}{{title}}{{/site}}: {{title}}</title>
  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{#site}}{{title}}{{/site}}" />
  <base href="http://{{#site}}{{host}}{{/site}}/blueink/_design/blueink/_rewrite/" />
  <link rel="stylesheet" type="text/css" href="style/bootstrap-simplex.min.css" />
</head>
<body>
<div class="container">
  <header class="jumbotron">
    <h1>{{title}}</h1>
    <nav class="subnav">
      <ul class="nav nav-pills">
      {{#sitemap}}
        {{#body}}
        <li><a href="{{url}}">{{nav_label}}</a>
        {{/body}}
        {{>nav}}
        {{#body}}
        </li>
        {{/body}}
      {{/sitemap}}
      </ul>
    </nav>
  </header>
  <article class="row">
    {{#items}}
    <section class="span6 {{#classes}} {{.}}{{/classes}}">
      {{#area}}
        {{#posts}}
        <div class="posts">
          <div class="item post">{{{item}}}</div>
          <div class="pubdate">{{published_date}}</div>
        </div>
        {{/posts}}
        {{^posts}}
        <div class="item">{{{item}}}</div>
        {{/posts}}
      {{/area}}
    </section>
    {{/items}}
  </article>
  <footer>
    <div class="copyright pull-left">&#169; {{copyright}}</div>
    <div class="credits pull-right">written in <a href="http://www.blueinkcms.com/" class="bigbluehat"><strong>blue</strong>ink</a></div>
  </footer>
</div>
</body>
</html>
