html.blueinked body {
  position: relative;
  top: 3em; /** TODO: do this dynamically...maybe **/
}
#ui-blueink {
  top: 0;
  right: 0;
  left: 0;
  text-align: left;
  z-index: 201;
}
#ui-blueink + .blueink-ui.dimmer {
  z-index: 200;
}

#ui-blueink ul.menu {
  list-style: none;
}

/* TODO: make this configurable...or template-able...or something */
[data-blueink-area-index].blueink-drop-spot {
  border: 1px solid blue;
  min-height: 8px;
}

/**
 * We can't use the semantic-ui `html` override due to template style
 * conflicts, so we'll set those defaults on .blueink-ui
 **/
.blueink-ui {
  box-sizing: border-box;
}

.blueink-ui .image.active {
  outline: 2px solid orange;
}
.blueink-ui .image.active img {
  margin: 0;
}

/** TODO: hook into the build system for Semantic-UI so we can use variables **/
.blueink-ui .small.square.images a.image {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
