body {
  position: relative;
}
#ui-blueink {
  top: 0;
  right: 0;
  left: 0;
  text-align: left;
}

#ui-blueink ul.menu {
  list-style: none;
}

/* TODO: make this configurable...or template-able...or something */
[data-blueink-area-index].blueink-drop-spot {
  border: 1px solid blue;
  min-height: 8px;
}
